Let's first have a look at datasets

In [160]:
import warnings
warnings.filterwarnings('ignore')

In [161]:
# import required library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [162]:
# Read datasets
missing_val=['?']
df = pd.read_csv("adult.csv",na_values=missing_val)

In [163]:
# Display top 5 rows
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [164]:
#Display tail
df.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [165]:
# How many rows and columns in dataset
df.shape

(48842, 15)

In [166]:
# Pandas information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [167]:
# Display the descriptiv statical analysis on numerical colimns of dataset
df.describe(include='number')

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

# DISCOVER AND HANDLE MISSING VALUES

In [168]:
total_rows=len(df)
del_rows = df.isnull().any(axis=1).sum()
print(total_rows,del_rows)

48842 3620

In [169]:
# column with atleast one missing value
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4         True
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Length: 48842, dtype: bool

In [170]:
# missing values in columns 
df.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [171]:
# Dropna function
df.dropna(axis=0,how='any',inplace=True)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [269]:
print("percentage of rows that were removed:",100*(del_rows/total_rows),"%")

percentage of rows that were removed: 7.411653904426519 %

# DATA PREPARATION

- Consider 'income' as the target variable.
- Remove unnecessary columns (for eg 'fnlwgt')
- Standardizing numerical data
- Encoding categorical features.
- Train test split

In [172]:
df.drop(['fnlwgt'], axis = 1 ,inplace=True)

In [173]:
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   education        45222 non-null  object
 3   educational-num  45222 non-null  int64
 4   marital-status   45222 non-null  object
 5   occupation       45222 non-null  object
 6   relationship     45222 non-null  object
 7   race             45222 non-null  object
 8   gender           45222 non-null  object
 9   capital-gain     45222 non-null  int64
 10  capital-loss     45222 non-null  int64
 11  hours-per-week   45222 non-null  int64
 12  native-country   45222 non-null  object
 13  income           45222 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

In [175]:
# separating target and input variable
target = df['income']
inputs = df.drop("income",axis=1)

In [176]:
categorical = inputs.select_dtypes(include =['object'])
categorical.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States
5,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States

In [177]:
numerical = inputs.select_dtypes(include =['int64','float64'])
numerical.head()

   age  educational-num  capital-gain  capital-loss  hours-per-week
0   25                7             0             0              40
1   38                9             0             0              50
2   28               12             0             0              40
3   44               10          7688             0              40
5   34                6             0             0              30

In [178]:
# scaling the numerical features
from sklearn.preprocessing import StandardScaler

In [179]:
scaler = StandardScaler()

In [180]:
df_num = pd.DataFrame(scaler.fit_transform(numerical),columns=numerical.columns)
df_num.head()

        age  educational-num  capital-gain  capital-loss  hours-per-week
0 -1.024983        -1.221559     -0.146733      -0.21878       -0.078120
1 -0.041455        -0.438122     -0.146733      -0.21878        0.754701
2 -0.798015         0.737034     -0.146733      -0.21878       -0.078120
3  0.412481        -0.046403      0.877467      -0.21878       -0.078120
4 -0.344079        -1.613277     -0.146733      -0.21878       -0.910942

In [181]:
# Encoding the categorical features
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first',sparse=False)

In [182]:
# Column names are annoyingly lost after OneHotEncoding
# i.e the dataframe is converted to a numpy ndarray 

df_cat = pd.DataFrame(encoder.fit_transform(categorical),columns=encoder.get_feature_names(categorical.columns))
df_cat.head()

,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_11th,education_12th,education_1st-4th,education_5th-6th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [183]:
df = pd.concat([df_num,df_cat],axis = 1)
df.head()

,age,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-1.024983,-1.221559,-0.146733,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.041455,-0.438122,-0.146733,-0.21878,0.754701,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.798015,0.737034,-0.146733,-0.21878,-0.078120,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.412481,-0.046403,0.877467,-0.21878,-0.078120,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.344079,-1.613277,-0.146733,-0.21878,-0.910942,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [184]:
# split into train and test 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df,target,test_size=0.25,random_state=0)

# Train the Model

In [185]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Prediction

In [186]:
y_pred = classifier.predict(x_test)

# Evaluation

In [187]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.8394657703874049

In [188]:
con_metrics=metrics.confusion_matrix(y_test,y_pred)
con_metrics

array([[7810,  657],
       [1158, 1681]], dtype=int64)

In [189]:
print(metrics.classification_report(y_test,y_pred))
# number of features = 91

              precision    recall  f1-score   support

       <=50K       0.87      0.92      0.90      8467
        >50K       0.72      0.59      0.65      2839

    accuracy                           0.84     11306
   macro avg       0.79      0.76      0.77     11306
weighted avg       0.83      0.84      0.83     11306

# Recursive feature Elimination

In [190]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [191]:
model=LogisticRegression(solver='lbfgs')

In [192]:
rfe=RFE(model,3)

In [193]:
fit=rfe.fit(x_train,y_train)

In [194]:
print(rfe.support_)
print(rfe.ranking_)

[False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False]
[33 14  1 57 35 53 54 55 31 38 16 64 93 11 10 85 91 58 73 81 78 74 80 32
 27 82 12  1 61 39 76 79 59 75 25  8  7 28  4  2 37 52 62 36 83 65  9  3
 66 23 42 44 45 43 24 29 56  6 60 20 15 22 46 30 51 68 17 87 90 70 63 89
 72 84 26 47 49 71 86  1 92 67 19 50 69 40 77 18 13 88 34 21 48  5 41]

In [195]:
imp_col=x_train.columns[rfe.support_]
imp_col

Index(['capital-gain', 'marital-status_Married-civ-spouse',
       'native-country_Mexico'],
      dtype='object')

In [196]:
x_train_new=x_train[imp_col]
x_train_new.head()

       capital-gain  marital-status_Married-civ-spouse  native-country_Mexico
36418     -0.146733                                0.0                    0.0
1080      -0.146733                                0.0                    0.0
17957     -0.146733                                1.0                    0.0
13607     -0.146733                                1.0                    0.0
43125     -0.146733                                0.0                    0.0

In [197]:
from sklearn.linear_model import LogisticRegression
regressor_new=LogisticRegression()
regressor_new.fit(x_train_new,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [198]:
x_test_new=x_test[imp_col]

In [199]:
y_test_pred_new = regressor_new.predict(x_test_new)

In [200]:
temp_df_new=pd.DataFrame({'Actual': y_test,'Predicted': y_test_pred_new})
temp_df_new

      Actual Predicted
44688  <=50K     <=50K
38106  <=50K     <=50K
29131  <=50K     <=50K
31472   >50K     <=50K
45120  <=50K     <=50K
...      ...       ...
1915    >50K     <=50K
24393  <=50K     <=50K
31714  <=50K     <=50K
34235  <=50K     <=50K
10770  <=50K     <=50K

[11306 rows x 2 columns]

In [201]:
# evaluation
from sklearn import metrics
metrics.accuracy_score(y_test,y_test_pred_new)

0.7802936493897046

# Principle Component Analysis

In [246]:
from sklearn.decomposition import PCA
pca = PCA(random_state = 0)

In [247]:
pca.fit(x_train)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=0,
    svd_solver='auto', tol=0.0, whiten=False)

In [248]:
from sklearn.decomposition import PCA
pca_final = PCA(n_components=15,random_state=0)
x_train_pca = pca_final.fit_transform(x_train)

In [249]:
x_train_pca.shape

(33916, 15)

In [250]:
x_test_pca = pca_final.transform(x_test)

using logisticregression

In [251]:
# Building the final model with 15 features
#
from sklearn.linear_model import LogisticRegression
regressor_pca = LogisticRegression()
regressor_pca.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [252]:
# Print coefficients and intercepts
print(regressor_pca.coef_)
print(regressor_pca.intercept_)

[[ 0.33889172  0.73820896  2.43928999  0.26741649  0.36730743 -0.61265752
  -0.48205552 -0.34918145 -1.04772365 -0.80523305 -1.09020108 -0.26545762
  -0.00435508  0.59070445  0.48378764  0.0487825  -0.00582678 -0.34515902
  -0.15804604 -0.0875251  -0.16963831 -0.11845928 -0.09565635 -0.42966887
   0.2683441  -0.03533174  1.21304778  2.1403656   0.24212747 -0.35791885
  -0.07097798  0.06015271  0.29229614  0.07525712  0.76484443 -0.95565383
  -0.61802231 -0.31979018 -0.86642252 -1.28674807  0.52733919  0.44016835
   0.24464816  0.55301564 -0.03434694  0.3075668  -0.6542737  -0.72724337
   0.16422127  1.09218475  0.87916834  0.2908094   0.23989247  0.50465738
   0.70317929  0.6735896  -0.30764361 -1.5543382   0.20884056 -0.33972893
  -0.46145984 -0.27909813  0.48743178  0.75633759  0.34623058 -0.11726504
  -0.4190504   0.03239532 -0.01189329 -0.11267062 -0.21833141  0.01722561
  -0.1049726   0.03797873  0.92739529  0.45414822  0.41382747  0.07924949
  -0.03527609 -0.38515221  0.01046328 -0.17717107 -0.4413988   0.25729822
   0.10670694  0.65595534  0.03809146 -0.66970578 -1.33333447 -0.02427993
  -0.52255355 -0.54426112  0.36787545 -1.37135391  0.59916212]]
[-3.58284137]

In [253]:
# split inti test and train 
from sklearn.model_selection import train_test_split
x_train_pca,x_test_pca,y_train,y_test= train_test_split(df,\
                                                       target,\
                                                       test_size=0.25,\
                                                       random_state=0)

In [254]:
# prediction
y_pred = classifier.predict(x_test)

In [255]:
# evaluation
# calculate accuracy of class prediction
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[7912  555]
 [1184 1655]]
0.8461878648505219

In [256]:
# classification report
# checking precision , recall and f1 score
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.87      0.93      0.90      8467
        >50K       0.75      0.58      0.66      2839

    accuracy                           0.85     11306
   macro avg       0.81      0.76      0.78     11306
weighted avg       0.84      0.85      0.84     11306

using knn

In [257]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [258]:
# prediction
y_pred = classifier.predict(x_test)

In [259]:
# evaluation
# calculate accuracy of class prediction
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[7611  856]
 [1082 1757]]
0.8285865911905184

In [260]:
# classification report
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.88      0.90      0.89      8467
        >50K       0.67      0.62      0.64      2839

    accuracy                           0.83     11306
   macro avg       0.77      0.76      0.77     11306
weighted avg       0.82      0.83      0.83     11306

using decision tree

In [261]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [262]:
# prediction
y_pred = classifier.predict(x_test)

In [263]:
# evaluation
# calculate accuracy of class prediction
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[7460 1007]
 [1132 1707]]
0.8108084203078012

In [264]:
# classification report
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.87      0.88      0.87      8467
        >50K       0.63      0.60      0.61      2839

    accuracy                           0.81     11306
   macro avg       0.75      0.74      0.74     11306
weighted avg       0.81      0.81      0.81     11306

 using svm

In [265]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [266]:
# prediction
y_pred = classifier.predict(x_test)

In [267]:
# evaluation
# calculate accuracy of class prediction
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[7912  555]
 [1184 1655]]
0.8461878648505219

In [268]:
# classification report
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.87      0.93      0.90      8467
        >50K       0.75      0.58      0.66      2839

    accuracy                           0.85     11306
   macro avg       0.81      0.76      0.78     11306
weighted avg       0.84      0.85      0.84     11306